div{
    position: fixed;
}
.esqcima{
    width: 140px;
    height: 150px;
    background-color: red;
}
.dircima{
    right: 0%;
    width: 140px;
    height: 150px;
    top: 0%;
    background-color: blue;
}
.esqbaixo{
    top: 80%;
    width: 140px;
    height: 150px;
    background-color: green;
}

.dirbaixo{
    right: 0%;
    top: 80%;
    width: 140px;
    height: 150px;
    background-color: yellow;
}