.salamalenco{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.salamalenco img{
    flex:1;
}
.salamalenco2{
    display: flebox;
}
.salamalenco3{
    display: grid;
}