header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161616;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-self: center;
  display: flex;
  align-items: baseline;
  width: 100%;
  padding-bottom: 10px;
}

nav{
  flex: 1;
}

.navegacao{
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  justify-self: right;
}

#logo img{
  width: 100%;
  padding: 25px 20px;
}

.navegacao a{
  color: rgb(173, 173, 173);
  float: right;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: right;
}

.navegacao a:hover, .menususpenso:hover .menususbotao, button:hover{/* faz alterações quando o mouse passa por cima do conteúdo */
  color: #e32936;
  background-color: black;
}
button{
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  font-size: large;
}
.menususpenso-conteudo button{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.menususpenso {
  float: right; /* Joga a tag pro lado direito de seu divisor */
  overflow: visible;
  scrollbar-width: thin;
}

.menususpenso{
  font-size: 16px;  /* Tamanho da fonte */
  border: none; /* Tira a borda */
  outline: none; /* Tira o sublinhado de seleção */
  color: rgb(173, 173, 173); /* Altera a cor do botão */
  background-color: inherit; /* Pega a mesma cor de Background de sua seção */
  font-family: inherit; /* Pega a mesma fonte de sua seção */
}

.menususpenso-conteudo {
  display: none; /* Esconde os itens do menu suspenso para uma possível sumonação */
  position: absolute; /* Faz a lista apar */
  background-color: #f9f9f9; /* Muda a cor de fundo dos itens do menu suspenso */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Deixa um efeito de sombreado embaixo do menu suspenso */
  width: fit-content; /* Define a largura do menu suspenso assim definindo a larguma máxima dos itens */
  height: 240px; /* Define a altura do menu suspenso assim definindo a quantidade máxima de itens a serem expostos na tela */
  overflow: scroll; /* Faz com que seja possível compactar a lista através do uso de um scroll */
  z-index: 20;
}

.menususpenso-conteudo a {
  color: black;
  padding: 12px 16px; /* Ajusta o espaçamento entre os itens do menu suspenso no eixo y e x respectivamente*/
  text-align: left; /* Deixa o texto alinhado à esquerda */
}

.menususpenso-conteudo a:hover {
  background-color: #ddd; /* Coloca efeito cizento no fundo dos itens selecionados */
}

.menususpenso:hover .menususpenso-conteudo {
  display: grid;
}