html, body{
    background-image: linear-gradient(to right,#0b1726,#1f3f66);
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bodysec{
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
}
.inicio{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;   
}
.meio{
    padding: 20px 20px;
    text-align: left;   
}