html, body{
    background-color: #161616;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bodysec{
    margin-top: 30px;
    align-items: center;
    border-radius: 6px;
    background-color: white;
}
.inicio{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;   
}
.meio{
    padding: 20px 20px;
    text-align: left;   
}