body{
    background-color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}
h1{
    background-color: gray;
    color: red;
    font-weight: 900;
    text-align: center;
}
h2{
    font-style: italic;
}
p{
    font-family: cursive;
    font-stretch: extra-expanded;
}
ul {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image: linear-gradient(to right,#0b1726,#1f3f66);
    width: 90%; /* O corpo de texto ocupa 90% da área visível do navegador */
    margin:0 auto;/*  divide o conteúdo de forma proporcional no navegador */
}
.navegacao{
    overflow: hidden;
  }
  .navegacao a{
    color: rgb(173, 173, 173);
    float: right;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: right;
  }
  .navegacao a:hover, .menususpenso:hover .menususbotao{/* faz alterações quando o mouse passa por cima do conteúdo */
    color: #e32936;
    background-color: black;
  }
  header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
  }
  #logo img{
    width: 45%;
    padding-top: 50px;
  }
  .menususpenso {
    float: right; /* Joga a tag pro lado direito de seu divisor */
    overflow: visible; /* Esconde a barra de rolagem */
  }
  
  .menususpenso .menususbotao {
    font-size: 16px;  /* Tamanho da fonte */
    border: none; /* Tira a borda */
    outline: none; /* Tira o sublinhado de seleção */
    color: rgb(173, 173, 173); /* Altera a cor do botão */
    background-color: inherit; /* Pega a mesma cor de Background de sua seção */
    font-family: inherit; /* Pega a mesma fonte de sua seção */
    padding: 10px;
  }
  
  .menususpenso-conteudo {
    display: none; /* Esconde os itens do menu suspenso para uma possível sumonação */
    position: absolute; /* Faz a lista apar */
    background-color: #f9f9f9; /* Muda a cor de fundo dos itens do menu suspenso */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Deixa um efeito de sombreado embaixo do menu suspenso */
    width: 200px; /* Define a largura do menu suspenso assim definindo a larguma máxima dos itens */
    height: 240px; /* Define a altura do menu suspenso assim definindo a quantidade máxima de itens a serem expostos na tela */
    overflow: scroll; /* Faz com que seja possível compactar a lista através do uso de um scroll */
  }
  
  .menususpenso-conteudo a {
    color: black;
    padding: 12px 16px; /* Ajusta o espaçamento entre os itens do menu suspenso no eixo y e x respectivamente*/
    text-align: left; /* Deixa o texto alinhado à esquerda */
  }
  
  .menususpenso-conteudo a:hover {
    background-color: #ddd; /* Coloca efeito cizento no fundo dos itens selecionados */
  }
  
  .menususpenso:hover .menususpenso-conteudo {
    display: grid; /* Faz aparecer o menu suspenso que estava previamente escondido */
  }
  .dividor{
    background-color: white; 
    border-radius: 5px;
    padding: 10px;
  }
  .cuerpo{
    display: flexbox;
  }